﻿

section {
    border: 4px solid #783F27;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Georgia, serif;
    line-height: 2.5em;
    text-align: center;
}

    section h2 {
        color: saddlebrown;
    }
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 30.33%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* For mobile phones: */
body {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */


    body {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    body {
        width: 100%;
    }
}
