﻿@import url('https://fonts.googleapis.com/css?family=Aleo');
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
   
    
    
}

.bg-image {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/img/spice.jpg")
}

hr.line1 {
    border: 0;
    height: 1px;
    background: #521515;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.contact-title h1 {
    text-align: center;
    color: wheat;
    font-family: 'Aleo', serif;
    font-size: 60px;
}

.contact-title h2 {
    text-align: center;
    color: wheat;
    font-family: 'Aleo', serif;
    font-size: 30px;
}

.contact-title {
    margin-top: 100px;
    color: #521515;
    transition: all 4s ease-in-out;
}

form{
    margin-top:50px;
    transition:all 4s ease-in-out;
    text-align:center;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid wheat;
    color: #521515;
    font-size: 20px;
    margin-bottom: 16px;
    color: wheat;
}

input{
    height:45px;
}

form .submit {
    background: #521515;
    border-color: transparent;
    color: wheat;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}



@media screen and (max-width: 600px) {
    .contact-form, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

