﻿body
{
}
reference {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("img/about6.jpg");
    text-align: center;
    color: brown;
    font-family: 'Aleo', serif;
}