﻿body {
    margin: 0;
    background-color: #f9f9f9;
}

video{
    
    max-width:100%;
    max-height:100%;
    width:100%;
    height:60%;
   
    
}

img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}


