﻿@import url('https://fonts.googleapis.com/css?family=Lobster|Merriweather+Sans|Shadows+Into+Light');
body {
    margin: 0;
    background-color: #f9f9f9;
    font-family: Verdana,sans-serif;
    width:100%;
}
.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}
/** {
    box-sizing: border-box;
}*/

h1 {
    text-align: center;
    color: #521515;
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
    animation: 3s infinite alternate slidein;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border: 10px solid #521515;
    border-radius:5px;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

h4 {
    color: #521515;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
    font-style:italic;
}

.menu h2 {
    text-align: center;
    color: #521515;
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
}

.menu .left{
    float:left;
    text-align:left;
    width:45%;
    margin-right:5%;
}

.menu .right{
    float:right;
    text-align:left;
    width:45%;
    margin-left:5%;
}



.both{
    display:inline-flex;
    
}

  .menu  p {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 25px;
    }


hr.line1 {
    border: 0;
    height: 2px;
    background: #521515;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}



