﻿


@import url('https://fonts.googleapis.com/css?family=Lobster|Merriweather+Sans|Shadows+Into+Light');


footer {
    //position: fixed;
    / // left: 0;
     bottom: 0;
    //width: 100%;
    / /border: 4px solid wheat;
     background-image: url('/img/test4.jpg');
    color: white;
    text-align: center;
    height: 100%;
    padding: 15px;
}

.footer h2 {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px;
}

.footer p {
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
}

.footer address {
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}
