﻿@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

/* Add a black background color to the top navigation */
.topnav {
    /*background-color:white;*/
    overflow: hidden;
    border: 4px solid wheat;
    background-image: url('/img/test4.jpg');
    /*background-repeat:no-repeat;*/
    background-size: auto;
    justify-content:center;
}


.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        font-size: 25px;
        border: none;
        outline: none;
        color: wheat;
        padding: 20px 35px;
        background-color: inherit;
        font-family: 'PT Sans Narrow', sans-serif;
        margin: 0;
        text-align: center;
        /*min-width:105px;*/
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #ddd;
        color:black;
       
       
        
    }

    .dropdown-content .active{
        width:120px;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    background-image: url('/img/test4.jpg');
    background-size: auto;
    width:160px;
    color: black;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 20px 20px;
        text-decoration: none;
        display: block;
        /*text-align: center;*/
        width:50%

    }

        .dropdown-content a:hover {
            background-color: #ddd;
            width:120px;
            
        }

.dropdown:hover .dropdown-content {
    display: block;
    

}


/* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: wheat;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
        font-size: 25px;
        font-family: 'PT Sans Narrow', sans-serif;

    }

/* Change the color of links on hover */
.topnav a:hover {
        background-color: #ddd;
        color: black;
}

/* Add an active class to highlight the current page */
.active {
    /*background-color:gray ;*/
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}



/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn{
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }

        .topnav.responsive .dropdown {
            float: none;
        }

        .topnav.responsive .dropdown-content {
            position: relative;
        }

        .topnav.responsive .dropdown .dropbtn {
            display: block;
            width: 100%;
            text-align: left;
        }
}
