﻿@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body
{
    margin:0;
    margin-bottom:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:dimgrey;
}

video {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 60%;
}

.video-container {
    position: relative;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.overlay-desc {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageleft{
    float:left;
    width:170px;
    height:170px;
    margin-left:20px;
}

.hr1{
    border:8px solid mistyrose;
}
