﻿body
{
}
main {
    text-align: center;
}


/* Title for each menu */

section h1 {
    font-family: 'Palatino Linotype';
    font-weight: bolder;
    font-size: 150%;
}

/*.title {
    background-color: #783F27;
    color: #F9AB33;
    line-height: 4em;
    float: left;
    text-align: center;
    flex: 1 0 0%;
}*/

/* Name of the food */

section h2 {
    font-family: 'Segoe Script';
    font-weight: normal;
    font-size: 1.2em;
    margin-top: 2;
    color: white;
}

/* Word text about the food */

.info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    text-align: center;
}



/* design for each food */

#lunchmenu {
    border: 3px solid #783F27;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    /*font-family: Georgia, serif;*/
    line-height: 1.5em;
}

div .food {
    /*background: #F6F3ED;*/
    background-color: lightgray;
    margin: 1em;
    padding: 10px;
    border: 1px dotted maroon;
    display: flex;
    flex-direction: column;
}

#legend {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*font-size: 900%;*/
}

.nameofeach {
    font-size: 150%;
    font-family: Rockwell;
}


/* navigation bar */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

    nav ul li a {
        display: block;
        padding: .7em 1.7em;
        margin: .10em;
    }

nav, footer {
    font-family: verdana, sans-serif;
    background-color: dimgray;
}

    /* text in the nav bar */
    nav ul li a:link, nav ul li a:visited {
        color: white;
    }

    nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
        color: tomato;
    }

    nav ul {
        margin: 0;
    }

        nav ul li {
            font-size: .8em;
            text-transform: uppercase;
            letter-spacing: .2em;
        }



/* for the dropdown menu */

a {
    text-decoration: none;
    padding-bottom: .2em;
}

.dropdown-content a {
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: dimgray;
}

    .dropdown-content a:hover {
        background-color: lightyellow;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

/* no idea atm */

#container {
    background-color: blanchedalmond;
    display: grid;
    grid-template-rows: auto auto 5em;
    grid-template-columns: minmax(25em, 1fr) 16em;
    grid-template-areas: "banner banner" "main hours" "footer footer";
}


/* Toggle Button */

#toggle, #toggleButton {
    display: none;
    float: right;
    color: lightgoldenrodyellow;
    background-color: palevioletred;
    border: 1px solid;
    padding: .25em 0.85em;
    border-radius: .5em;
    margin: .100em;
}

@media screen and (max-width: 640px) {

    nav ul li {
        /* hide the menu bar*/
        display: none;
    }

    #toggleButton {
        /* display toggle button, 
           change cursor to pointer in invite clicking */
        display: block;
        cursor: pointer;
    }

    input#toggle:checked ~ ul li {
        /* display menu item as a single column 
           when the toggle button is clicked */
        display: block;
        width: 100%;
    }
}
