﻿body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/img/about5.jpg");
    text-align: center;
    color: wheat;
    font-family: 'Aleo', serif;
}
form {
    box-sizing: content-box;
    width: 70%;
    padding: 5px;
    border: 10px solid;
    border-color: cornflowerblue;
    display: inline-block;
    
}
/* For mobile phones: */
body {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */


    body {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    body {
        width: 100%;
    }
}