﻿body{
    background-color: floralwhite;
}
#reference {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: hotpink;
}

h6 {
    font-size: 90%;
    font-family: 'Tempus Sans ITC';
    text-align: center;
}

li a {
    font-family: 'Times New Roman';
    text-align: right;
}

div{
    text-align: center;
}

.credits {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
    font-size: 5px;
    font-style:normal;
}